<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Doc</title>
</head>

<body>
    <div data-compId="c" data-component="LogoHeader" data-json="{}"></div>
    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <div data-compId="b" data-component="CounterButtons" data-json="{'addText': 'Increase Counter', 'subtractText': 'Reduce Counter'}"></div>
                        <div data-compId="a" data-component="CounterText" data-json="{'counterValue': 0}"></div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</body>

</html>
